.flex-container1{
  display:flex;
    
  align-items:center;
  }
  .flex-container2{
    display:flex;
    justify-content:space-between;
    
    align-items:center;
  }
  .flex-container3{
    display:flex;
    
    align-items:center;
  }
  
  
  .flex-item1{
    border:2px solid black;
    margin: 10px;
    background-color:rgba(163, 165, 174, 0.103);
    font-size:15px;
    text-align:center;
    padding:95px;
  }
  .flex-item{
    border:2px solid black;
    margin: 10px;
    background-color:rgba(163, 165, 174, 0.103);
    font-size:15px;
    text-align:center;
    padding:95px;
  }